@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: map-merge(
                $theme-colors,
                (
                        "warning": #f5dc00
                )
);

@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
}

a {
  color: #000000;
}

.cover {
  background-color: #f5dc00;

  img {
    width: 100%
  }
}

.notice-line {
  background-color: #000000;
  color: #ffffff;
  padding: 40px 20px 40px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.content .card {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
